body {
    font-family: Arial, sans-serif;
    background-color: #a2a8cc;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado de center a flex-start */
    height: 100vh;
    margin: 0; /* Cambiado de 20px a 0 */
    padding: 20px; /* Añadido padding */
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    margin-top: 20px; /* Añadido margen superior */
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0; /* Ajustado para eliminar espacio superior */
}

label {
    text-align: left;
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    margin-left: 10px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f8ff;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#message {
    margin-top: 20px;
    font-size: 16px;
    color: green;
}

select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f8ff;
    font-size: 16px;
    box-sizing: border-box;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.image-container img {
    background-color: transparent;
    max-width: 100px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.title-container {
    margin-bottom: 20px;
}

